* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Noto Mono', Arial, "Helvetica Neue", Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100dvh;
   width: 100%;
   background-color: #0A1931;
   position: relative;
}

header {
   align-self: flex-start;
   width: 100%;
   background-color: #132743;
}

header ul {
   list-style-type: none;
   display: flex;
   gap: 8px;
   align-items: center;
   font-size: 14px;
}

header li:first-child {
   margin-right: auto;
   flex-basis: 180px;
}

header li:last-child {
   flex-shrink: 0;
}

header li a {
   display: block;
   padding: 15px 15px;
   text-decoration: none;
   color: #ffffff;
   font-size: inherit;
}

header li button {
   padding: 14px 15px;
   background: none;
   color: #fff;
   box-shadow: unset;
}


/* global button */
button {
   box-shadow: 2px 2px 4px #000;
   border: none;
   background: none;
   cursor: pointer;
}

main {
   display: flex;
   flex-direction: column;
   /* gap: 15px; */
   align-items: center;
   flex-grow: 1;
}

.game-card {
   margin-top: 20px;
   flex: 1;
   width: 320px;
   min-width: 280px;
   border: 1px solid #2E4C6D;
   padding: 10px;
   gap: 35px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.top-features {
   display: flex;
   justify-content: space-between;
}

.top-features .count-board {
   width: 150px;
   background-color: rgb(13, 9, 3);
   color: #00FF00;
   text-align: center;
   padding: 8px;
   font-size: 22px;
   display: flex;
   flex-direction: column;
   border-radius: 4px;
   border-bottom: 3px groove orangered;
   margin-bottom: 5px;
   border: 2px solid #CCCCCC;
}

.leftGuessesEl {
   font-size: 68px;
   font-weight: 600;
   color: #fff;
}

.left {
   height: 100%;
   display: flex;
   flex-direction: column;
   border-radius: 5px;
}

.timerEl {
   align-self: center;
   font-family: Orbitron, sans-serif;
   width: 150px;
   height: 80px;
   box-shadow: 4px 4px 8px #000;
   background-color: #8B0000;
   border: 12px groove #FF0000;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 48px;
   padding: 15px;
   text-shadow: 2px 2px 2px #000;
}

.actions {
   display: flex;
   flex-direction: column;
   gap: 15px;
   justify-content: center;
   text-align: center;
}

.actions h2 {
   border-bottom: 3px solid red;
   color: #ffffff;
}

.actions button {
   flex-shrink: 0;
   padding: 10px 10px;
   background-color: #2E4C6D;
   border-radius: 5px;
   color: #FFFFFF;
}

.actions button:hover {
   background-color: #3E5C7D;
}

.bottom-features {
   height: 200px;
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.bottom-features {
   color: #CCCCCC;
}

.form {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}

.form .inputEl {
   flex-grow: 1;
   flex-basis: 150px;
   margin-right: auto;
   display: block;
   padding: 8px;
   background-color: #fff;
   border: 1px solid #2E4C6D;
   font-size: 16px;
   outline-color: #fff;
   outline-width: 1px;
   border-radius: 5px;
}

.form .submitEl {
   flex-basis: 85px;
   flex-shrink: 0;
   background-color: #019c01;
   box-shadow: 2px 2px 4px #000;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   color: #fff;
   cursor: pointer;
}
.form .submitEl:hover {
   background-color: #388E3C
}

.gameStatesEl {
   display: flex;
   flex-direction: column;
   height: 150px;
   gap: 5px;
   margin-top: 15px;
   color: #CCCCCC;
   position: relative;
}

.gameStatesEl p {
   font-size: 14.5px;
   padding: 8px 0;
}

.gameStatesEl div {
   display: flex;
   align-items: center;
   gap: 5px;
}

.gameStatesEl .text {
   flex-shrink: 0;
   font-size: 14.5px;
   color: #CCCCCC;
}

.gameStatesEl .guessOutcomeEl {
   background-color:#a60808;
   padding: 8px;
   font-size: large;
   width: 200px;
   font-weight: 600;
   text-align: center;
   align-self: center;
   margin-top: 15px;
   border-radius: 4px;
}

.prvGuessEl,
.answerEl {
   background-color: rgba(255, 255, 255, 0.05);
   border: 1px solid #2E4C6D;
   padding: 2px;
   font-size: 16px;
   color: #ffffff;
   border-radius: 5px;
}

footer {
   background-color: #132743;
   width: 100%;
   height: 45px;
   font-size: 15px;
   padding: 10px;
   color: #CCCCCC;
   text-align: center;
   margin-top: 30px;
}

/* modals */

.gameLevelsModalBg,
.gameOverModalBg {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.92);
   position: absolute;
   top: 46px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modals {
   color: #CCCCCC;
   background-color: #1A2744;
   border: 2px solid #4A90E2;
   border-radius: 10px;
   box-shadow: 0 0 20px #4a90e280;
   width: 300px;
   max-width: 400px;
   height: 320px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 20px 12px;
   /* animation: open 1.5s ease-in-out; */
}

@keyframes open {
   50% {transform: scale(0%);}
   100% {transform: scale(100%);}
}

.modals h1 {
   color: #00FFFF;
   text-align: center;
   font-weight: bold;
   margin-bottom: 30px;
   text-shadow: 0 1px 5px #00ffff80;
}

.modals button {
   color: #fff;
   padding: 10px 9px;
   background-color: #018301;
   border-radius: 5px;
   font-size: 16px;
   transition: .3s;
}

.modals button:hover {
   transform: translateY(-5px);
}

.modals p {
   padding: 8px 0;
   font-size: 16px;
   line-height: 1.5;
}

.gameOverBtnEl {
   display: flex;
   width: 100%;
   justify-content: space-between;
}
.gameOverBtnEl .restartButtonEl {
   background-color: orangered;
}

.answerEl {
   padding: 5px 10px;
   margin-left: 10px;
   font-size: 1.2em;
}

.levels {
   display: flex;
   justify-content: space-between;
   width: 100%;
   flex-grow: 1;
   flex-wrap: wrap;
}
.levels button {
   width: 120px;
   text-align: center;
   transition: .3s;
}
.levels button:hover {
   transform: none;
   background-color:#196119;
}

.gameLevelsModal h1 {
   border-bottom: 1px solid #4A90E2;
   padding-bottom: 2px;
   width: 100%;
}

.gameLevelsModal p {
   font-size: 14px;
}


@media screen and (min-width: 700px) {
   .modals {
      width: 400px;
      padding: 20px 50px;
   }
}

/* hide  modals */


.gameLevelsModalBg {
   display: none;
}
.gameOverModalBg {
   display: none;
}